<h1>Employee Portal</h1>

<div class="d-flex justify-content-end">
  {{#link-to "create" "new"}}
    <button type="button" class="btn btn-lg btn-dark">Create</button>
  {{/link-to}}
</div>

<List-View />
<br />
{{outlet}}